flask
scikit-learn
sentence-transformers
PyPDF2
python-docx
gunicorn
spacy
joblib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
